{% extends "index.html" %} {% block title %}Home{% endblock %} {% block content
%}

<div class="description">


    <br />
    Ableiter
    <style>
        .form-description {
            width: 100%;
        }
    </style>
    <div class="form">
        <form method="POST">
            <div class="form-description">
                <label>expression:</label>
                <textarea type="text" rows="4" cols="50" name="expression" id="input_expression"
                    placeholder="a_0**2/cos(k_1/k_2)**4"></textarea>
            </div>
            <input type="submit" value="Submit" /><br />

    </div>
    <script>
        document.getElementById("input_expression").value = "{{request.form['expression']}}";
        if (document.getElementById("input_expression").value == "") {
            document.getElementById("input_expression").value = "a_0**2/cos(k_1/k_2)**4";
        }
    </script>
    </form>

    {% if fields %}

    {% for field in fields %}
    {% with field=field %}
    {% include "latex_copyable.html" %}
    {% endwith %}
    {% endfor %}


    {% endif %}
</div>


{% endblock %}
</div>