{% extends "index.html" %}
{% block title %} Utilities - Error Propagation {% endblock %}
{% block content %}

<div class="description">
  You can write greek letters in latex style, but without the backslash.
  <details>
    <summary>click to expand supported greek letters</summary>
    {{greek_letters}}
  </details>

  <br />
  You can set errors of specific parameters to zero by typing them in the second
  line edit and seperating them with a comma.<br />
  Click on the output cells to see the latex representation. You can also find
  the copyable python function for the error.<br />
  Do not use "|arg|" or "abs(arg)", use "Abs(arg)" instead. <br />
  Do not use the standalone symbol "f" unless you want to use it as an index or
  with and index or as a function. <br />
  "e" and "E" alone are reserverd for eulers number. <br />
  Do not use the standalone symbol "E" if you want to use the exponential
  function. <br />
  If you want to use the exponential function, use "exp(arg)". <br />
  For the imaginary unit, use "1j". <br />
  <div class="form">
    <form method="POST">
      <div class="fromdescription">
        <label>function name:</label><br />
        <textarea type="text" rows="2" cols="50" name="fname" id="fname"></textarea><br />
      </div>

      <div class="fromdescription">
        <label>expression:</label><br />
        <textarea type="text" rows="2" cols="50" name="expression" id="expression"></textarea><br />

      </div>

      <div class="fromdescription">
        <label>set error of following variables to zero (works not every time) </label><br />
        <input type="text" name="zeros" placeholder="k_1" /><br />
      </div>
      <input type="submit" value="Calculate Error Propagation" /><br />

      <div class="free-symbols"></div>
      <label>
        <input type="checkbox" class="round-checkbox" />
        <span class="checkmark">X</span>
      </label>

      <div class="fromdescription">
        <input type="checkbox" id="relative_error" name="relative_error" />
        <label for="relative_error">substitute error of symbols with their relative_error (doesnt work
          properly, use at your own risk)</label>
        <input type="hidden" name="relative_error" value="off" />
      </div>
    </form>
  </div>
  <script>
    document.getElementById("fname").value = "{{request.form['fname']}}";
    document.getElementById("expression").value = "{{request.form['expression']}}";
    if (document.getElementById("expression").value == "") {
      document.getElementById("expression").value = "a_0**2/cos(k_1/k_2)**4";
    }

    if (document.getElementById("fname").value == "") {
      document.getElementById("fname").value = "f";
    }



    const expressionTextarea = document.getElementById('expression');
    const freeSymbolsDiv = document.getElementsByClassName('free-symbols')[0];
    const excludeExtra = ['exp', 'sqrt', 'sin', 'cos', 'tan', 'sinc', 'atan', 'asin', 'acos', 'tanh', 'sinh', 'cosh', 'log', 'abs', 'max', 'min'];
    expressionTextarea.addEventListener('input', () => {
      const expression = expressionTextarea.value;
      // Split the expression into an array of substrings based on "*", " " and "/" characters
      //<!-- const substrings = expression.split(/[* /().-^\d]/); -->
      const substrings = expression.split(/[* /().-]/);
      var smybols = [];
      let regex = /^-?\d*\.?\d+$/;
      freeSymbolsDiv.innerHTML = '';

      for (const symbol of substrings) {
        if (!excludeExtra.includes(symbol) && !regex.test(symbol) && symbol != "") {
          smybols.push(symbol);

        }
      }
      // remove duplicates
      smybols = [...new Set(smybols)];
      for (const symbol of smybols) {
        const checkbox = document.createElement('input');
        checkbox.type = 'checkbox';
        checkbox.value = symbol;
        const label = document.createElement('label');
        label.innerHTML = symbol;
        freeSymbolsDiv.appendChild(checkbox);
        freeSymbolsDiv.appendChild(label);
      }
    });




  </script>

  {% endblock %}
</div>