{% extends "index.html" %} {% block title %}Home{% endblock %} {% block content %}
<div class="description">
  Renderer
  <div class="form">
    <form method="POST">


      <div class="fromdescription">
        <label>Expression LaTeX:</label>
        <textarea type="text" rows="4" cols="50" name="expression_latex" id="expression_latex"></textarea><br />

      </div>

      <div class="fromdescription">
        <label>Expression Python:</label>
        <textarea type="text" rows="4" cols="50" name="expression_python" id="expression_python"></textarea><br />
      </div>
      <input type="submit" value="Render Expression" /><br />

    </form>
    <script>
      document.getElementById("expression_python").value = "{{request.form['expression_python']}}";
      document.getElementById("expression_latex").value = "{{request.form['expression_latex']}}";
    </script>
    <div>
      {% if field %}
      <div class="renderer_area">
        {% with field=field %}
        {% include "latex_copyable.html" %}
        {% endwith %}
      </div>

      {% endif %}
    </div>
  </div>
</div>
{% endblock %}