body {
    font-family: sans-serif;
    color: #333;
}

/* Add a dark theme style */





/* Add a dark theme style */
.dark-theme {
    background-color: #282c34;
    color: #ffffff;
}


.copy-button {
    background-color: #333;
    color: #fff;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.copy-button:hover {
    background-color: #444;
}

.download-button {
    background-color: #333;
    color: #fff;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.download-button:hover {
    background-color: #444;
}

.deriv-field {
    display: flex;
    flex-direction: row;
}

.invizible {
    opacity: 0;
    pointer-events: none;
    width: 0;
    height: 0;
}



.cards {}

.description {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.form input[type="text"] {
    width: 80%;
    height: 30px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.form textarea[type="text"] {
    width: 80%;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.form input[type="submit"] {
    width: 80%;
    height: 35px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.form input[type="submit"]:hover {
    background-color: #444;
}

.form label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.form input[type="checkbox"] {
    margin-right: 5px;
}

details {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

details summary {
    font-weight: bold;
    cursor: pointer;
}

body {
    font-family: sans-serif;
    color: #333;
}

.navbar {
    background-color: #333;
    color: #fff;
}

.navbar a {
    color: #fff;
}

.navbar a:hover {
    color: #ddd;
}

.navbar .active {
    background-color: #444;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-toggler {
    border-color: #ccc;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-nav {
    margin-left: auto;
}

.nav-item {
    margin-left: 20px;
    border-radius: 1em;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.download-button {
    background-color: #333;
    color: #fff;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    margin: 10px;
}

.download-button:hover {
    background-color: #444;
}


.demos {
    /* Add some spacing between the buttons */
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: -8px;
}

.demo_btn {
    /* Material design styling */
    background: #fafafa;
    border: 1px solid #e1e1e1;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);

    /* Center the LaTeX code inside the button */
    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    outline: none;
    padding: 16px;
    transition: all 0.3s;

    margin: 1em;
    border-radius: 5px;
    border: 2px solid #333;
    background-color: rgb(89, 89, 89);
    color: #ffffff;
}

.demo_btn:hover {
    /* Add some hover effects */
    cursor: pointer;
    
    border-radius: 10px;
    box-shadow: 0 0 20px 5px #ffffff;
}

.resultspage {
    /* Add some spacing between the elements */
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: -8px;
}



.content {
    /* Material design styling */
    background: #fafafa;
    border: 1px solid #e1e1e1;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    outline: none;
    padding: 16px;
    transition: all 0.3s;

    /* Add some spacing between the elements */
    margin: 8px;
    margin: 1em;
    border-radius: 5px;
    border: 2px solid #333;
    background-color: rgb(89, 89, 89);
    color: #ffffff;
}

.box.content:hover{
    border-radius: 10px;
    box-shadow: 0 0 20px 5px #ffffff;
}
.latexField {
    /* Add some styling to the LaTeX field */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    justify-content: center;
    flex-wrap: wrap;
}

.download-button {
    /* Material design styling for the download button */
    background: #fafafa;
    border: 1px solid #e1e1e1;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    color: #333;
    font-size: 14px;
    outline: none;
    padding: 8px 16px;
    transition: all 0.3s;
}

.download-button:hover {
    /* Add some hover effects */
    background: #eee;
    cursor: pointer;
}

.copy-button {
    /* Material design styling for the copy button */
    background: #fafafa;
    border: 1px solid #e1e1e1;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    color: #333;
    font-size: 14px;
    outline: none;
    padding: 8px 16px;
    transition: all 0.3s;
}

.copy-button:hover {
    /* Add some hover effects */
    background: #eee;
    cursor: pointer;
}

pre {
    /* Add some padding to the code blocks */
    padding: 16px;
    position: relative;
}

.scrollable {
    /* Add some styling to the scrollable div */
    overflow-x: auto;
}








.round-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
    color: #ddd;
  }
  
  .round-checkbox:checked + .checkmark {
    background-color: #2196F3;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .round-checkbox:checked + .checkmark:after {
    display: block;
  }
  
  .round-checkbox:checked + .checkmark:after {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    top: 5px;
    left: 5px;
    background: white;
  }
  